<section>
    <h2>Appetizers</h2>
    <ul class="appetizer_list">
        {{#each appetizers as |dish|}}
        <li>{{dish.dish_name}} ${{dish.dish_price}}</li>
        <p class="itemDesc">{{dish.dish_description}}</p>
        {{/each}}
    </ul>
</section>