        <section>
            <h2>Appetizers</h2>
            <ul class="appetizer_list">
                {{#each Appetizer}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </section> 