<table class="checkout">
    <tr>
        <td> dish </td>
        <td> price </td>
        <td> quantity</td>
    </tr>
{{#each checkoutitem}}
<tr>
        <td> {{dish}} </td>
        <td>  {{price}} </td>
        <td>  {{quantity}} </td>
</tr>

{{/each}}
</table>
<div id="totalPrice">
Total Price is {{total_price}} <br>

<a href="/fetchfood"> Click here to go back to the products page </a>
</div>