<table class="checkout">
    <tr>
        <td> dish </td>
        <td> price </td>
        <td> quantity </td>
    </tr>
{{#each checkoutitem}}
<tr>
        <td> {{dishName}} </td>
        <td> {{dishPrice}} </td>
        <td> {{number}} </td>
</tr>

{{/each}}
</table>
<div id="totalPrice">
Total Price is {{totalPrice}} <br>

<button href="/"> Click here to go back to the main page </button>
</div>