<section>
    <h2>Drinks</h2>
        <ul class="drink_list">
        {{#each drinks as |dish|}}
        <li>{{dish.dish_name}} ${{dish.dish_price}}</li>
    <p class="itemDesc">{{dish.dish_description}}</p>
        {{/each}}
    </ul>
</section>