<section>
    <h2>Drinks</h2>
    <ul class="drink_list">
        {{#each drinks as |dish|}}
        <li>{{dish.dish_name}} ${{dish.dish_price}}</li>
        <p class="itemDesc">{{dish.dish_description}}</p>
        <aside>
            <div id="mainDiv">
                <button id="minus">-</button>
                <span id="numberPlace">0</span>
                <button id="plus">+</button>
            </div>
            <button id="submit">Submit</button>
            <p id="bottom"></p><!-- for show all page -->
        </aside>
        {{/each}}
    </ul>
</section>