<section>
    <h2>Drinks</h2>
    <ul class="drink_list">
        {{#each drinks as |dish|}}
        <li>
            <button class="fave">&#10084;</button>
            <span class="dishName">{{dish.dish_name}}</span> <span class="dishPrice">${{dish.dish_price}}</span>
            <aside class="quantity">
                <div class="buttonDiv">
                    <button class='minusBtn'>-</button>
                    <span class="numberPlace">0</span>
                    <button class="plusBtn">+</button>
                    <button class="submitBtn">add</button>
                </div>
            </aside>
        </li>
        <p class="itemDesc">{{dish.dish_description}}</p>

        {{/each}}
    </ul>
</section>