<div class="actionCenter" id="actionCenter">
    <button class="open-button" id="openButton" onclick="openForm()">Sign In</button>

    <div class="form-popup" id="myForm">
        <form action="/" class="form-container">
            <h1 id="loginTitle">Login</h1><br>

            <label for="email"><b>Email</b></label>
            <input type="text" id="email-login" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" id="password-login" placeholder="Enter Password" name="psw" required>

            <button id="login-form" type="submit" class="btn">Login</button>
            <button id='closeBtn' type="button" class="btn" onclick="closeForm()">Close</button>
        </form>
    </div>

    <button class="open-button" id="signupButton" onclick="openSignup()">Sign Up</button>

    <div class="form-popup" id="signupForm">
        <form action="/" class="form-container">
            <h1 id="signupTitle">Sign Up</h1><br>

            <label for="username"><b>Username</b></label>
            <input type="text" id="username-signup" placeholder="Enter Username" name="username" required>

            <label for="email"><b>Email</b></label>
            <input type="text" id="email-signup" placeholder="Enter Email" name="email" required>

            <label for="password"><b>Password</b></label>
            <input type="password" id="password-signup" placeholder="Enter Password" name="password" required>

            <button id='signupBtn' type="button" class="btn">Sign Up</button>
            <button type="button" class="btn" onclick="closeSignup()">Close</button>
        </form>
    </div>

    <button class="cart-button" id="cart-button">Cart</button>

<div class="row" id="cartContainer">
    <div class="col-75">
        <div class="container">
        <form action="/action_page.php">
        
            <div class="row">
            <div class="col-50">
                <h3>Billing Address</h3>
                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                <input type="text" id="email" name="email" placeholder="john@example.com">
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input type="text" id="city" name="city" placeholder="New York">
    
                <div class="row">
                <div class="col-50">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" placeholder="NY">
                </div>
                <div class="col-50">
                    <label for="zip">Zip</label>
                    <input type="text" id="zip" name="zip" placeholder="10001">
                </div>
                </div>
            </div>
    
            <div class="col-50">
                <h3>Payment</h3>
                <label for="cname">Name on Card</label>
                <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                <label for="ccnum">Credit card number</label>
                <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                <label for="expmonth">Exp Month</label>
                <input type="text" id="expmonth" name="expmonth" placeholder="September">
                <div class="row">
                <div class="col-50">
                    <label for="expyear">Exp Year</label>
                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                </div>
                <div class="col-50">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv" placeholder="352">
                </div>
                <div class="col-50">
                    <label for="notes">Notes</label>
                    <input type="text" id="notes" name="notes" placeholder="allergies">
                </div>
                </div>
            </div>
            
            </div>
            <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
            </label>
            <input type="submit" value="Continue to checkout" class="btn" id='checkoutBtn'>
        </form>
        </div>
    </div>
    {{!-- {{#each cartItem as |item|}}
        <p><a href="#">{{item[0]}}</a> <span class="price">${{item[1].price}} Quantity {{item[1].number}}</span></p> --}}
    <div class="col-25">
        <div class="container">
            {{!-- THIS NEEDS TO BE INTEGRATED WITH ADD TO CART BUTTON --}}
        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>4</b></span></h4>
        <p><a href="#">Product 1</a> <span class="price">$15</span></p>
        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
        <hr>
        <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
        </div>
    </div>
</div>

</aside>

<script src="./js/login.js"></script>