<div class="actionCenter" id="actionCenter">
    <button class="open-button" id="openButton" onclick="openForm()">Sign In</button>

    <div class="form-popup" id="myForm">
        <form action="/" class="form-container">
            <h1 id="loginTitle">Login</h1><br>

            <label for="email"><b>Email</b></label>
            <input type="text" id="email-login" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" id="password-login" placeholder="Enter Password" name="psw" required>

            <button id="login-form" type="submit" class="btn">Login</button>
            <button id='closeBtn' type="button" class="btn" onclick="closeForm()">Close</button>
            <button id='signupBtn' type="button" class="btn" onclick="closeForm()">Sign Up</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/index.js"></script>