<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucario's</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <img id="logo" src="../../images/lucarioslogo.png" alt="Lucario's" style="width:65vw; height:auto;">
        <p id="restinfo">123 Pokeball Street - Viridian City, Kanto<br> 555-555-5555</p>

        <section class="actionCenterContainer">
            {{>login}}
        </section>
    </header>
    {{!-- <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if loggedIn}}
            <li <a href='#' id="logout" class="btn-no-style">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            <ul>
    </nav> --}}
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="js/index.js"></script>
</body>

</html>