<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucario's</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <img id="logo" src="../../images/lucarioslogo.png" alt="Lucario's" style="width:65vw; height:auto;">
        <p id="restinfo">123 Pokeball Street - Viridian City, Kanto<br> 555-555-5555</p>
        <section class="actionCenterContainer">
            {{#if loggedIn}}
            {{>logout}}
            {{else}}
            {{>login}}
            {{/if}}
        </section>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="/js/btn.js"> </script>
    <script src="/js/index.js"></script>
</body>

</html>