<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucario's</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        <button class="open-button" onclick="openForm()">Sign In</button>

        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
            <h1>Login</h1><br>
            
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit" class="btn">Login</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
        </div>
            
        <img src="../../public/assets/LucariosFullTrans.png" alt="Lucario's" style="width:65vw; height:auto;">
        <p id="restinfo">123 Pokeball Street - Viridian City, Kanto<br> 555-555-5555</p>
        
    </header>
    {{!-- <nav>
        <ul class="nav">
        <li><a href="/">Home</a></li>
        {{#unless loggedIn}}
        <li><a href="/login">Login</a></li>
        {{else}}
        <li <a href=# id="logout" class="btn-no-style">Logout</a></li>
        {{/unless}}
        </ul>
    </nav> --}}
    <main class="menu">
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>