        <div id="appetizers">
            {{>appetizers}}
        </div>
        {{!-- <div class="menu">
            {{{body}}}
        </div> --}}
        <div id="entrees">
           {{>entrees}}
        </div>
        <div id="desserts">
            {{>desserts}}
        </div>
        <div id="drinks">
            {{>drinks}}
        </div>