        <div id="appetizers">
            {{>appetizers}}
        </div>
        <div id="entrees">
           {{>entrees}}
        </div>
        <div id="desserts">
            {{>desserts}}
        </div>
        <div id="drinks">
            {{>drinks}}
        </div>
        <footer id="footer">
            {{>footer}}
        </footer>