:root {
    --black: black;
    --red: red;
    --white: white;

}

* {
    margin: 0px;
    padding:0px
    box-sizing= border-box;
    background-color: var(--black); 
    border: 1px var(--red)  
}

main div {
    border-radius: 5px;
    border: 5px var(--red);
    width: 90%;
    min-height: 300px;
    background-color: var(--white);
}





