@font-face {
    font-family: poke;
    src: url(../font/Poke.ttf);
}

/* GENERAL LAYOUT FEATURES */

body {
    position: relative;
    padding-top: 20px;
    background-color: black;
}

header {
    text-align: center;
}

/* .nav li a {
    color: white;
    text-decoration: none;
    font-size: 32px;
}

.nav li a:hover {
    filter: drop-shadow(5px 5px 5px gray);
} */

#restinfo {
    color: white;
    margin-right: -400px;
    margin-top: -20px;
}

#restinfo:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

header:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

main {
    float: right;
    width: 75%;
    margin-top: 0px;
}

/* MENU COMPONENTS */

h2 {
    font-family: poke, Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 20px;
}

h2:hover {
    transform: scale(102%);
    filter: drop-shadow(5px 5px 5px gray);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

#appetizers {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#appetizers ul {
    list-style: none;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

#entrees {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#entrees ul {
    list-style: none;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

#desserts {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#desserts ul {
    list-style: none;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

#drinks {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#drinks ul {
    list-style: none;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

.cart{
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

.appetizer_list li,
.entree_list li,
.dessert_list li,
.drink_list li {
    font-size: 22px;
    font-weight: bold;
}

.appetizer_list li:hover,
.entree_list li:hover,
.dessert_list li:hover,
.drink_list li:hover {
    filter: drop-shadow(5px 5px 5px gray);
    cursor: pointer;
}

.appetizer_list p,
.entree_list p,
.dessert_list p,
.drink_list p {
    margin-left: 20px;
    margin-bottom: 30px;
}

/* SIGN IN MODAL */

.actionCenterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 20vw;
    margin-top: 20px;
}

.actionCenter {
    margin-left: 25px;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
    width: 90%;
}

.open-button,
.cart-button
.logout-button {
    background-color: black;
    font-family: poke, Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    color: white;
    box-shadow: 5px 5px 5px gray;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.8;
    width: 150px;
    height: 50px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    z-index: 9;
    max-width: fit-content;
    font-family: poke, Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

#loginTitle {
    margin-bottom: -15px;
    margin-top: -20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px gray;
}

/* CART STUFF */

#cartContainer {
    display: none;
    z-index: 9;
    max-width: fit-content;
    font-size: 10px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}
  
.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    font-size: 14px;
}
  
.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}
  
.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}
  
.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}
  
.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
  
input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
label {
    margin-bottom: 10px;
    display: block;
}
  
.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}
  
a {
    color: red;
    text-decoration: none;
}
  
hr {
    border: 1px solid lightgrey;
}
  
span.price {
    float: right;
    color: grey;
}

#closeBtn,
#checkoutBtn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#closeCartBtn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: 2px solid black;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    width: 85%;
}

.col-50 input {
    width: 90%;
    padding: 15px;
    margin: 0 0 22px 0;
    border: none;
}

@media screen and (min-width: 1800px) {
    header {
        float: left;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-top: 20px;
    }

    .actionCenter {
        align-self: center;
    }

    #logo {
        max-width: 90%;
        align-self: center;
        margin: 20px;
    }

    #restinfo {
        margin: 20px;
    }

    main {
        float: right;
        width: 75%;
        margin-top: 0px;
    }

    .menu {
        margin-left: 20px;
    }
}

@media screen and (max-width: 700px) {
    .actionCenterContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80vw;
        margin-top: 20px;
    }
    
    #restinfo {
        margin: 20px;
    }

    main {
        float: none;
        width: 90%;
        margin: 20px;
        margin-top: 0px;
    }

    .menu {
        margin: 5px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .open-button,
    .cart-button {
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 3px;
        color: white;
        box-shadow: 5px 5px 5px gray;
        border: 1px solid white;
        cursor: pointer;
        opacity: 0.8;
        width: 100px;
        height: 30px;
    }
    .form-container {
        display: inline;
    }
    #login-form,
    #signupBtn,
    #closeBtn {
        width: 100px;
    }
}

#mainDiv {
    margin: 0px;
    align-content: right;
}

#minus,
#plus {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

#minus:hover {
    background-color: red;
    border: none;
}

#plus:hover {
    background-color: blue;
    border: none;
}

#numberPlace {
    margin-left: 5px;
    margin-right: 5px;
}

#submit {
    border: none;
    height: 25px;
}

#submit:hover {
    background-color: red;
    border: 1px solid black;
    cursor: pointer;
}

/* #bottom {
    margin-top: 90%;
} */

footer {
    color: white;
}