* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    padding-top: 20px;
    background-color: black;
}

header {
    text-align: center;
}

aside {
   float: left;
   width: 20%;
   min-height: 200px;
   margin: 20px;
   color: black;
   border: 5px solid red;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   background: white;
}

#restinfo {
    color: white;
    margin-right: -400px;
    margin-top: -50px;
    margin-bottom: 25px;
}

#restinfo:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

header:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 20px;
}

h2:hover {
    transform: scale(102%);
    filter: drop-shadow(5px 5px 5px black);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

#appetizers {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#appetizers ul {
    list-style: none;
    text-align: left;
    padding-left: 50px;
}

#entrees {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#entrees ul {
    list-style: none;
    text-align: left;
    padding-left: 50px;
}

#desserts {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#desserts ul {
    list-style: none;
    text-align: left;
    padding-left: 50px;
}

#drinks {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#drinks ul {
    list-style: none;
    text-align: left;
    padding-left: 50px;
}

@media screen and (max-width: 1000px) {
    #restinfo {
        margin: 0;
    }
}

.open-button {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px gray;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 200px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
    border: 2px solid black;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
    box-shadow: 5px 5px 5px gray;
  }