* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    padding-top: 20px;
    background-color: black;
}

header {
    text-align: center;
}

header:hover {
    filter: drop-shadow(5px 5px 5px gray);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 20px;
}

h2:hover {
    transform: scale(110%);
    filter: drop-shadow(5px 5px 5px black);
}

.menu {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

#appetizers {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#appetizers ul {
    list-style: none;
    text-align: left;
    text-indent: 5%;
}

#entrees {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#entrees ul {
    list-style: none;
    text-align: left;
    text-indent: 5%;
}

#desserts {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#desserts ul {
    list-style: none;
    text-align: left;
    text-indent: 5%;
}

#drinks {
    margin: 20px;
    color: black;
    border: 5px solid red;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    background: white;
}

#drinks ul {
    list-style: none;
    text-align: left;
    text-indent: 5%;
}